<div class="item">
    <button (click)="goBack()">На главную</button>
</div>
<mat-card class="card" >
    <!--<img src={{item.snippet.thumbnails.high.url}} alt="">-->
    <!--<div class="description">-->
        <!--<div class="description-text">-->
            <!--<span class="title">Название: </span>-->
            <!--<span>{{item.snippet.title}}</span>-->
        <!--</div>-->
        <!--<div class="description-text">-->
            <!--<span class="publish">Дата публикации: </span>-->
            <!--<span>{{item.snippet.publishedAt}}</span>-->
        <!--</div>-->
        <!--<div class="description-text">-->
            <!--<span class="publish">Название канала: </span>-->
            <!--<span>{{item.snippet.channelTitle}}</span>-->
        <!--</div>-->
    <!--</div>-->
</mat-card>